doctype html
html (ng-app='matchgame')
	head
		title= title
		//link for css
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
		script(src='javascripts/gamefactory.js')
		script(src='javascripts/matchgamelogic.js')
	body (ng-controller='GameCtrl')
		div Pairs left to match: {{game.unmatchedPairs}}
		div Matching: {{game.firstPick.title}}

		table
			tr (ng-repeat='row in game.grid')
				td (ng-repeat='title in row' ng-click='game.flipCard(card)')

				div.cardsWrapper
					div.card (ng-class='{flipped: tile.flipped}')
						//prob need images? or maybe change it to just strings
						img(ng-src='../public/images/back.jpg').front
						img(ng-src='../public/images/{{card.title}}.jpg').back

		//maybe a message div to display {{game.message}}