extends layout

block content
	p#pagetitle
		| kioku joshu

	div.buttonwrapper
		button#playbtn.buttons.buttons-block 
			span.btntext play
		button#reviewbtn.buttons.buttons-block 
			span.btntext review

	if(!user)
		p#infotext
			| Need an account? 
			a(href='./register').infolink sign up
			br
			a(href='./login').infolink login
	if(user)
		p#infotext
			| Welcome, #{user.username}
			br
			a(href='./logout').infolink logout

	script(src="javascripts/main.js")