extends layout

block style

block scripts
	script(src="javascripts/main.js")
block content
	p#pagetitle
		| kioku joshu
	#buttonwrapper
		button#playbtn.buttons.buttons-block play
		button#reviewbtn.buttons.buttons-block review