doctype html
html
	head
		title= title
		block style
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		block scripts
	body
		block content