doctype html
html
	head
		title= title
		block style
			link(rel='stylesheet', href='/stylesheets/main.css')
			link(rel='stylesheet', href='/stylesheets/game.css')
			link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		block scripts
			script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
			script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
			script(src="javascripts/jquery.timer.js")
			script(src="javascripts/matchgamelogic.js")
			script(src="javascripts/gamefactory.js")
			script(src="javascripts/matchgame0.js")
			script(src='javascripts/play.js')
			script(src="javascripts/review.js")
			


	body
		block content