extends layout

// block style

// block scripts
//	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

block content
	p#pagetitle
		| Login

	form(role='form', action='login', method='post')
		if(messages)
			div#note #{messages}
		br
		.form-group
			input.form-control(type='text', name="username", placeholder='Enter Username')
		.form-group
			input.form-control(type='password', name="password", placeholder='Password')
		div#submitbtnswrapper
			button.buttons#loginbtn(type='submit') login
			&nbsp;
			a(href='/')
				button.buttons.buttonsinv#cancelbtn(type="button") cancel  	