extends layout

block style
	link(rel='stylesheet', href='/stylesheets/game.css')

block content
	// need time/pause somewhere..
	div#timerWrapper
		span#stopwatch
			| 00:00:00

	div#tablewrapper
		table#gametable

