<!doctype html>
<html ng-app="memoryGameApp">
<head>
  <meta charset="utf-8">
  <title>Memory Game</title>
  <link rel="stylesheet" href="../stylesheets/game.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="javascripts/matchgamelogic.js"></script>
  <script src="javascripts/gamefactory.js"></script>
  <script src="javascripts/matchgame.js"></script>
</head>
<body ng-controller="GameCtrl">

  <table>
    <tr ng-repeat="row in game.grid">
      <td ng-repeat="card in row" ng-click="game.flipCard(card)">

        <div class="cardsWrapper">
          <div class="card" ng-class="{flipped: card.flipped}">
              <!-- <img class="front" ng-src="img/back.png">
              <img class="back" ng-src="img/{{tile.title}}.png"> -->
              <div class="front content"></div><!--back of cards -->
              <div class="back content">{{card.string}} </div>
          </div>
        </div>

      </td>
    </tr>
  </table>

  <div class="message">{{game.message}}</div>
</body>
</html>