extends layout

// block style
	// link(rel='stylesheet', href='/stylesheets/main.css')

// block scripts
	// script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	// script(src='javascripts/play.js')

block content
	p#pagetitle
		| play

	div#playbtnwrapper
		div.makesquare
			button#romabtn.buttons.pbuttons
				span.btntext romaji
		div.makesquare
			button#kanabtn.buttons.pbuttons
				span.btntext kana
		div.makesquare
			button#kanjibtn.buttons.pbuttons
				span.btntext kanji	
		div.makesquare
			button#vocabbtn.buttons.pbuttons
				span.btntext vocab
