extends layout

block style
	link(rel='stylesheet', href='/stylesheets/main.css')
block scripts
block content

	div#pagewrapper
		p#pagetitle
			| review
		div.buttonwrapper
			button#hbtn.buttons.buttons-block hiragana
			button#kbtn.buttons.buttons-block katakana
			button#kanjibtn.buttons.buttons-block kanji


	scripts(src="javascripts/review.js")