extends layout

block style

block scripts

block content
	p#pagetitle
		| review
	#buttonwrapper
		button#playbtn.buttons.buttons-block hiragana
		button#reviewbtn.buttons.buttons-block katakana
		button#reviewbtn.buttons.buttons-block kanji
