html, body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}

#pagetitle {
	text-align: center;
	padding: 5vmin;
	color: #13ace5;
	font-size: 10vmin;
	font-weight: bold;
}

#backbtnwrapper {
	width: 10%;
	text-align: left;
}

.buttonwrapper {
	width: 10%;
	margin: auto;
	text-align: center;

}

.buttons {
	cursor: pointer;
	position: relative;
	margin: 1vmin;
	border: none;
	text-align: center;
	background-color: #13ace5;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 3.8vmin;
	font-weight: bold;
	padding: 1.4vmin, 1.6vmin;
	line-height: 2.33;
	/*padding: 15px, 45px;*/
	border-radius: 5px;
}

.buttons-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.buttons:hover {
	box-shadow: 4px 4px 2px #e5e5e5;
}

.buttons:active {
	background-color: #0f89b7;
	box-shadow: 4px 4px 2px #cbcbcb;

}

.btntext {
	padding: 5px;
}

.btntext:hover {
	border-bottom: 3px solid #de6666;
}

img.resize {
	width: 70%;
	height: 70%;
}

.reviewImage {
	text-align: center;
}

/*play formattings*/

#playbtnwrapper {
	width: 20%;
	height: auto;
	margin: auto;
	display: block;
	text-align: center;
}

.pbuttons {
	border-radius: 10px;
	padding: 25%;
}

.makesquare {
	width: 50%;
	height: 0;
	padding-bottom: 45%;
	float: left;
	display: block;
}
