html, body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}

#pagetitle {
	text-align: center;
	padding: 5vmin;
	color: #13ace5;
	font-size: 10vmin;
	font-weight: bold;
}

.buttonwrapper {
	width: 8%;
	margin: auto;
	text-align: center;

}

.buttons {
	position: relative;
	margin: 1vmin;
	border: none;
	text-align: center;
	background-color: #13ace5;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 3.8vmin;
	font-weight: bold;
	padding: 1.4vmin, 1.6vmin;
	line-height: 2.33;
	/*padding: 15px, 45px;*/
	border-radius: 5px;
}

.buttons-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.buttons:hover {
	border-bottom: 2px solid #e54c13;
	box-shadow: 5px 5px 2px #e5e5e5;
}

.buttons:active {
	background-color: #0f89b7;
	border-bottom: 2px solid #e54c13;
	box-shadow: 5px 5px 2px #cbcbcb;

}

.pbuttons {
	width: 20%;
	height: 0;
	padding-bottom: 20%;
}