html, body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
}

#pagetitle {
	text-align: center;
	padding: 5vmin;
	color: #13ace5;
	font-size: 10vmin;
	font-weight: bold;
}

#infotext {
	text-align: center;
	color: #13ace5;
	font-size: 2vmin;
}

#backbtnwrapper {
	width: 10%;
	text-align: left;
}

.buttonwrapper {
	width: 10%;
	margin: auto;
	text-align: center;

}

.buttons {
	cursor: pointer;
	position: relative;
	margin: 1vmin;
	border: none;
	text-align: center;
	background-color: #13ace5;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 3.8vmin;
	font-weight: bold;
	padding: 1.4vmin, 1.6vmin;
	line-height: 2.33;
	/*padding: 15px, 45px;*/
	border-radius: 10px;
	border: 3px solid transparent;
}

.buttonsinv {
	background-color: #fff;
	color: #13ace5;
	border: 3px solid #13ace5;
}

.buttons-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.buttons:hover {
	box-shadow: 4px 4px 2px #e5e5e5;
}

.buttons:active {
	background-color: #0f89b7;
	box-shadow: 4px 4px 2px #cbcbcb;

}

.btntext {
	padding: 5px;
}

.btntext:hover {
	border-bottom: 3px solid #de6666;
}

a.infolink {
	color: #13ace5;
	text-decoration: none;
	
}

a.infolink:hover {
	color: inherit;
	text-decoration: inherit;
	border-bottom: 1px solid #de6666;
}

img.resize {
	width: 70%;
	height: 70%;
}

.reviewImage {
	text-align: center;
}

/*play formattings*/

#playbtnwrapper {
	width: 20%;
	height: auto;
	margin: auto;
	display: block;
	text-align: center;
}

.pbuttons {
	padding: 20%;
}

.makesquare {
	width: 50%;
	height: 0;
	padding-bottom: 45%;
	float: left;
	display: block;
}

/*log in page */

#logincontainer {
	text-align: center;
	margin: auto;
	position: relative;
}

#submitbtnswrapper {
	text-align: left
	height: 20%;
}